<div class="col-md-12 order-md-2 mb-4">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <!-- counter of total items in the shopping list  -->
    <span class="badge badge-secondary badge-pill">{{ totalOrder }}</span>
    <!-- counter of total items in the shopping list  -->
  </h4>

  <ul class="list-group mb-3">
    <div *ngFor="let item of items">
      <li
        class="list-group-item d-flex justify-content-between lh-condensed"
        #element
      >
        <div>
          <h6 class="my-0">Product name {{ item.name }}</h6>
          <small class="text-muted">Brief description {{ item.name }}</small>
        </div>

        <!-- <input type="text" value="{{ quantityByFood[item._id] }}" /> -->
        <i
          (click)="incButton(item, item._id)"
          class="fa fa-plus-circle"
          aria-hidden="true"
        ></i>

        <h6 class="my-0">{{ quantityByFood[item._id] }}</h6>

        <i
          (click)="decButtton(item, item._id)"
          class="fa fa-minus-circle"
          aria-hidden="true"
        ></i>

        <span class="text-muted">{{
          item.price * quantityByFood[item._id]
        }}</span>
      </li>
    </div>
    <!-- add pipes here  -->
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (TND)</span>
      <strong>{{ totalPrice | currency: "TND" }}</strong>
    </li>
    <!--  -->
  </ul>

  <button
    (click)="onPurshase()"
    class="btn btn-primary btn-lg btn-block"
    type="submit"
  >
    Confirme
  </button>
</div>
