<ngbd-carousel-basic></ngbd-carousel-basic>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
      >Disabled</a
    >
  </li>
</ul>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of allFoods">
      <app-food-card [foodsDetails]="item"></app-food-card>
    </div>
  </div>
</div>
